<template>
  <div>
    <input type="checkbox" v-bind:checked="todo.complete" v-on:change="$emit('mark-complete',todo.id)"/>
    <label>{{ todo.title }}</label>
    <button v-on:click="$emit('delete-todo',todo.id)">X</button>

  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: ["todo"],
};
</script>

<style>
li.completed label {
  text-decoration: line-through;
}
</style>