// ****************************
// *** Bootstrap customised ***
// ****************************

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bootstrap's global variables

// Update some of Bootstrap's component variables

// Import only what you need from Bootstrap
@import "~bootstrap/scss/bootstrap";