<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
  <script src="https://unpkg.com/vue@next"></script>
    
    <title>Vue CDN</title>
</head>

<body>
    <a onclick="window.history.back()">Go back</a>

    <section id="root">
        <h3>Hello World {{message}}</h3>
    </section>
    <section id="root2">
        <h3>Hello World {{message}}</h3>

    </section>
    <script>
        const app = {
            data() {
                return {
                    message: 'vue'
                }
            }
        }
        Vue.createApp(app).mount('#root')

        const app2 = {
            data(){
                return {
                    message:'vueMio'
                }
            }
        }
        Vue.createApp(app2).mount("#root2")
    </script>
</body>

</html>