* {
    --color-1-hex: #BF1736;
    --color-2-hex: #0D1440;
    --color-3-hex: #1438A6;
    --color-4-hex: #0E2773;
    --color-5-hex: #1455D9;
}

.wrapper>* {
    font-size: 3em;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-gap: 0.3em;
    grid-template-areas:
        "header"
        "section-1"
        "aside-1"
        "section-2"
        "aside-2"
        "footer"
    ;
}
.container-2 {
    display: grid;
    height: 100vh;
    grid-gap: 0.3em;
    grid-template-areas:
        "div1 div2 div2 div2 div3 div3 div3 div4 div4 div4"
        "div5 div2 div2 div2 div6 div6 div6 div6 div6 div6"
    ;
}

@media(min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-areas:
            "header header header header"
            "aside-1 section-1 section-1 aside-2"
            "section-2 section-2 section-2 section-2"
            "footer footer footer footer"
        ;
    }
}

header {
    grid-area: header;
    background-color: var(--color-1-hex);
}

aside:nth-of-type(1) {
    grid-area: aside-1;
    background-color: var(--color-2-hex);
}

aside:nth-of-type(2) {
    grid-area: aside-2;
    background-color: var(--color-3-hex);
}

section:nth-of-type(1) {
    grid-area: section-1;
    background-color: var(--color-4-hex);
}

section:nth-of-type(2) {
    grid-area: section-2;
    background-color: var(--color-5-hex);
}

footer {
    grid-area: footer;
    background-color: var(--color-6-hex);
}

.container-2 div:nth-of-type(1){
    grid-area: div1;
     background-color: var(--color-1-hex);
}
.container-2 div:nth-of-type(2){
    grid-area: div2;
     background-color: var(--color-2-hex);
}
.container-2 div:nth-of-type(3){
    grid-area: div3;
     background-color: var(--color-3-hex);
}
.container-2 div:nth-of-type(4){
    grid-area: div4;
     background-color: var(--color-4-hex);
}
.container-2 div:nth-of-type(5){
    grid-area: div5;
     background-color: var(--color-5-hex);
}
.container-2 div:nth-of-type(6){
    grid-area: div6;
     background-color: var(--color-1-hex);
}


.container-3 {
    display: grid;
    grid-gap: 0.3em;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
}

.left-sidebar, .main-content, .right-sidebar, .footer-3 {
    background-color: var(--color-3-hex);
}

.left-sidebar {
    grid-row-start: span 2;
}

.footer-3 {
    grid-column: 2 / span 2;
}
  