<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
  <title>Vue Vuex</title>
</head>

<body>
  <a onclick="window.history.back()">Go back</a>
  <h3>Vuex</h3>

  <section id="root">
    <p>{{countValue}} es {{evenOrOddValue}}</p>
    <button v-on:click='callIncrement'>+</button>
    <button v-on:click='callDecrement'>-</button>
    <button v-on:click='callIncrementAsync'>increment async</button>
  </section>
</body>

<script>
  const store = new Vuex.Store({
    state:{
      count: 0
    },
    mutations: {
      increment(state, payload){
        state.count++
      },
      decrement(state, payload){
        state.count--
      }
    }
  })


  const app = new Vue({
    el: '#root',
    computed:{
      countValue(){
        return store.state.count
      }
    },
    methods: {
      callIncrement() {
        store.commit('increment')
      },
      callDecrement() {
        store.commit('decrement')
      },
      callIncrementAsync() {
      },
    }
  })
</script>

</html>